.careers #header .header-background {
  opacity: 1;
}
.careers section {
  padding-bottom: 40px;
}
.careers section.vacancies {
  padding-top: 55px;
}
.careers section.vacancies article {
  font-family: Questrial;
  background-color: #f5f5f5;
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 2em;
}
.careers section.vacancies article h2 {
  text-align: left;
  margin-top: 0;
  text-transform: none;
}
.careers section.vacancies article ul {
  padding-left: 1.2em;
}
.careers section.vacancies article ul:last-child {
  margin-bottom: 0;
}
.careers section.contact-us h1 {
  margin-bottom: 20px;
}
.careers section.contact-us p {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .careers section {
    padding-bottom: 60px;
  }
  .careers section.contact-us h1 {
    margin-bottom: 20px;
  }
  .careers section.contact-us p {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Questrial', Arial, sans-serif;
    width: 550px;
    text-align: center;
  }
}