.client #header .header-background {
  opacity: 1;
}
.client section {
  padding-bottom: 40px;
}
.client section.general-info {
  padding-top: 55px;
}
.client section.general-info .company-logo div[class^="icon-"] {
  margin: 0 auto;
}
.client section.general-info .company-description,
.client section.general-info .project-description {
  text-indent: 2em;
}
.client section.technologies .icon.arrow-down {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}
.client section.technologies article .article-content {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 2em 2em 2em;
  margin-top: -28px;
}
.client section.technologies article .article-content ul {
  font-family: Questrial;
  list-style-type: square;
  padding-left: 18px;
  margin-bottom: 0;
}
.client section.technologies article .article-content ul li {
  line-height: 1.8;
}
.client section.quote blockquote {
  margin-top: 70px;
}
.client section.quote.dark .icon {
  background-color: #fff;
}
