/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-analyze {
  background-image: url(servicessprite.png);
  background-position: -194px -198px;
  width: 31px;
  height: 34px;
}
.icon-clients {
  background-image: url(servicessprite.png);
  background-position: -124px -198px;
  width: 34px;
  height: 34px;
}
.icon-companies {
  background-image: url(servicessprite.png);
  background-position: -44px -198px;
  width: 42px;
  height: 34px;
}
.icon-design {
  background-image: url(servicessprite.png);
  background-position: 0px -234px;
  width: 27px;
  height: 34px;
}
.icon-develop {
  background-image: url(servicessprite.png);
  background-position: 0px -198px;
  width: 42px;
  height: 34px;
}
.icon-dotnet {
  background-image: url(servicessprite.png);
  background-position: -174px -105px;
  width: 186px;
  height: 76px;
}
.icon-dotnetsmall {
  background-image: url(servicessprite.png);
  background-position: -143px -234px;
  width: 35px;
  height: 14px;
}
.icon-dotnetsmallinactive {
  background-image: url(servicessprite.png);
  background-position: -315px -198px;
  width: 35px;
  height: 14px;
}
.icon-frontend {
  background-image: url(servicessprite.png);
  background-position: 0px 0px;
  width: 172px;
  height: 196px;
}
.icon-frontendsmall {
  background-image: url(servicessprite.png);
  background-position: -114px -234px;
  width: 27px;
  height: 31px;
}
.icon-frontendsmallinactive {
  background-image: url(servicessprite.png);
  background-position: -85px -234px;
  width: 27px;
  height: 31px;
}
.icon-icon-suport {
  background-image: url(servicessprite.png);
  background-position: -57px -234px;
  width: 26px;
  height: 34px;
}
.icon-improve {
  background-image: url(servicessprite.png);
  background-position: -88px -198px;
  width: 34px;
  height: 34px;
}
.icon-optimize {
  background-image: url(servicessprite.png);
  background-position: -160px -198px;
  width: 32px;
  height: 34px;
}
.icon-php {
  background-image: url(servicessprite.png);
  background-position: -174px 0px;
  width: 196px;
  height: 103px;
}
.icon-phpsmall {
  background-image: url(servicessprite.png);
  background-position: -271px -198px;
  width: 42px;
  height: 22px;
}
.icon-phpsmallinactive {
  background-image: url(servicessprite.png);
  background-position: -227px -198px;
  width: 42px;
  height: 22px;
}
.icon-support {
  background-image: url(servicessprite.png);
  background-position: -29px -234px;
  width: 26px;
  height: 34px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-analyze {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-clients {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-companies {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-design {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-develop {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-dotnet {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-dotnetsmall {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-dotnetsmallinactive {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-frontend {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-frontendsmall {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-frontendsmallinactive {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-icon-suport {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-improve {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-optimize {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-php {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-phpsmall {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-phpsmallinactive {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
  .icon-support {
    background-image: url(servicessprite-2x.png);
    background-size: 370px 268px;
  }
}
